<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SC Check Credit - agree</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="login-container">
        <h1>SC Check Credit </h1>
        <p class="info-text">Your personal information will be gathered and handled. include private information that is deemed sensitive for service delivery purposes.
            Enhance services and handle data exclusively.</p>
        <form action="{{ url_for('dashboard') }}" method="get">
            <button type="submit">Agree </button>

        </form>
    </div>
</body>
</html>