<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Education</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="content">
        <h2>General Education Courses</h2>
        <table>
            <thead>
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Credit</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                {% for course in gen_dep %}
                    <tr>
                        <td>{{ course[0] }}</td>
                        <td>{{ course[1] }}</td>
                        <td>{{ course[2] }}</td>
                        <td>{{ course[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <button class="big-button" onclick="window.location.href='/OverallCreditMA'">Back</button>
    </div>
</body>
</html>
